* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: #f3f3f3;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0;
}
header{
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  
 }

#title {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0;
  max-width: 100%;
    
}

.description {
  font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  margin-top: 1.5em;
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  max-widht: 100%;
  width: 40em;
  margin: auto;
  background: rgba(27, 27, 50, 0.8);
  padding: 1.5em;
}

@media screen and (max-width: 900px) {
  main {
    width: 95%;
  }
  
  header {
    width: 100%;
  }
}

fieldset {
  border: none;
}

.form-input {
  width: 100%;
  height: 2em;
  border-radius: 0.3em;
  margin-top: 0.6em;
  margin-bottom: 1.2em;
    
}

.dropdown {
  height: 2.5em;
  width: 100%;
  color: gray;
  background-color: white;
}

.radio-button-wrapper {
  padding: 0;
  margin-bottom: 1em;
 
}

.button-wrapper { 
  margin-top: 0.6em;
  
}

.radio-button {
}

.check-box-area {
  margin-left: 0px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 1em;
}

.checkbox {
  display: block;
  margin-bottom: 0.6em;
}

.comments {
  width: 100%;
  height: auto;
  
}
.button {
  width: 100%;
  height: 2.5em;
  background-color: #37af65;
  color: #f3f3f3;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  margin-right: 0;
}